{% extends "template_bootstrap.html.twig" %}



{% block title %}{{ parent() }}Article: {{ news.theNewsTitle }} {% endblock %}

{# on efface le lead #}
{% block lead %}{% endblock %}

{% block contenu %}


        <h3>{{ news.theNewsTitle }}</h3>
        {# Création d'une variable avec set, la fonction split (explode) va couper et transformer en tableau les id des sections #}
        {% set idsection = news.idtheSection|split(',') %}
        {% set sectionName = news.theSectionName|split('|||') %}

<h4>{% for section in idsection %}
        <a href="?section={{ section }}">{{ sectionName[loop.index0] }}</a> {% if not loop.last %}|{% endif %}
    {% endfor %}</h4>

        <p>{{ news.theNewsText|nl2br }}</p>
        <h5>Ecrit par {{ news.theUserLogin }} le {{ news.theNewsDate|date("d/m/Y") }}</h5>


{% endblock %}

{% block h1 %}NEWS:  {{ news.theNewsTitle }}{% endblock %}
