{% extends "template_bootstrap.html.twig" %}


{% block title %}{{ parent() }}{{ detailSection.theSectionName }}{% endblock %}

{% block h1 %}{{ detailSection.theSectionName }}{% endblock %}

{% block lead %}{{ detailSection.theSectionDesc }}<hr>{{ parent() }} {{ news|length }}{% endblock %}

{% block contenu %}

    {% for item in news %}
        <h3>{{ item.theNewsTitle }}</h3>
        {# Création d'une variable avec set, la fonction split (explode) va couper et transformer en tableau les id des sections #}
        {% set sectionstring = item.section|split('---') %}
        <h4>{% for itemSection in sectionstring  %}
            {% set sectionCute = itemSection|split('|||') %}
            <a href="?section={{ sectionCute[1] }}">{{ sectionCute[0] }}</a> {% if not loop.last %}|{% endif %}
        {% endfor %}</h4>

    <p>{{ item.theNewsText }} ... <a href="?page={{ item.theNewsSlug }}">Lire la suite</a></p>
    <h5>Ecrit par {{ item.theUserLogin }} le {{ item.theNewsDate|date("d/m/Y") }}</h5>
    {% else %}
        <h3>Pas encore de news sur ce site</h3>
        {% endfor %}
            {% endblock %}

